{% extends 'base.html' %}
{% load comment_tags %}
{% load cloudinary %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
              <div class="post-item">
                <div class="row">
                    <div class="col-md-2">
                        {% cloudinary post.author.profile.photo class="rounded-circle post-avi" %}

                    </div>
                    <div class="col-md-10">
                        <div class="">
                        <a href="{% url 'profile' post.author %}"><strong>{{post.author|title}} </strong></a>&middot;
                          <small>{{ post.created|timesince}} ago</small>
                         
                        </div>
                        <div class="post-body">
                            {{ post.body }}
                            {% with total_likes=post.likes.count likes=post.likes.all %}
                                <div class="post-info">
                                    <span class="count">
                                        {{total_likes}} like{{total_likes|pluralize }}                                      
                                    </span>
                                    <a href="#" data-id="{{post.id}}" data-action="{% if user in likes %}un{% endif %}like" class="likebutton">
                                        {% if user not in likes %}
                                        Like
                                        {% else %}
                                        Unlike
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="post-likes">
                                    
                                </div>
                            {% endwith %}
                            <br>
                          
                            {% if user == post.author %}
                                {% include 'actions.html' %}
                            {% endif %}
                       
                          
                        </div>
                    </div>
                </div>
               </div>

                  {% render_comments post request %}
            </div>
        </div>
    </div>
{% endblock %}