{% extends 'base.html' %}
{% load cloudinary %} 

{% block sidebar %}{{ block.super}}
{% if val  %}
<li style="list-style: none;">
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
   <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
 </svg>
 <a href="{% url 'profile' p.slug %}">Profile</a>
</li>
{% endif %}

{% if user.is_expert  %}
                   
<li style="list-style: none;">
 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
   <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
   <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
 </svg>
  <a href="">Interesting news</a>
 
    <span><a class="ml-4 mr-4 text-center" href="{% url 'interesting_news' 'crypto' %}">Crypto</a></span>
    <span><a class="ml-4 mr-4 text-center" href="{% url 'interesting_news' 'equities' %}">Equities</a></span>
   <span> <a class="ml-4 text-center" href="{% url 'interesting_news' 'money markets' %}">Money Markets</a></span>
    <span><a class="ml-4 text-center" href="{% url 'interesting_news' 'real estate' %}">Real Estate</a></span>
    

</li>
{% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
              {% if user.is_expert %}
              <div class="text-center">
                <a style="text-decoration: none;" href="{% url 'add_post' %}" >Share Your Thoughts</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-pen-fill" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                  </svg>
               </div>
              {% endif %}
                  
                    {% if posts %}
                        {% for post in posts %}
                            <div id="posts-box" class="shadow p-3 mb-2 bg-white rounded">
                                <div class="row">
                                    <div class="col-md-2">
                                        {% cloudinary post.author.profile.photo class="rounded-circle post-avi" %}
            
                                    </div>
                                    <div class="col-md-10">
                                        <div class="">
                                        <a href="{% url 'profile' post.author %}"><strong>{{post.author|title}} </strong></a>&middot;
                                            <small>{{ post.created|timesince}} ago</small>
                                            
                                        </div>
                                        <div class="post-body">
                                            {{ post.body|truncatewords:100 }}
                                            <br>
                                                {% include 'actions.html' %}                     
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    {% else %}
                    <p>There are no posts yet</p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
