{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        {% if profile.photo %}
                             {% cloudinary profile.photo id="avi" %}
                        {% else %}
                        {% endif %}
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"> {{profile}}</h5>
                          <p class="card-text">{{ profile.bio }}</p>
                          <p class="card-text"><small>Joined: {{profile.created|date:"M Y"}}</small></p>
                        
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Field: {{profile.expertise}}</li>
                            <li class="list-group-item">Experience: {{profile.experience}} years</li>
                            <li class="list-group-item">Email: {{profile.user.email}}</li>
                            <li class="list-group-item">DMs: <a style="color: blueviolet;" href="{% url 'dms' profile.pk %}">Messages</a></li>
                            {% if user != profile.user %}
                              <li class="list-group-item">
                                <button class="btn btn-outline-danger">
                                  <a href="{% url 'ask' profile.user.id %}">Talk to me</a>
                                </button>
                            </li>
                            {% endif %}
                           {% if user == profile.user %}
                            <li class="list-group-item">
                              <button class="btn btn-outline-secondary"><a style="text-decoration: none;" href="{% url 'profile_update' profile.pk %}">Edit Profile</a></button>
                            </li>
                           {% endif %}
                          </ul>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h3 class="text-center mb-3">Posts({{profile.get_posts.count}})</h3>
            <hr>
              {% for post in profile.get_posts %}
                <div>
                  <div class="post-item">
                    <div class="row">
                        <div class="col-md-2">
                            {% cloudinary post.author.profile.photo class="rounded-circle post-avi" %}

                        </div>
                        <div class="col-md-10">
                            <div class="">
                            <a href="{% url 'profile' post.author.id %}"><strong>{{post.author|title}} </strong></a>&middot;
                              <small>{{ post.created|timesince}} ago</small>
                              
                            </div>
                            <div class="post-body">
                                {{ post.body }}
                                <br>
                                <a href="{% url 'post_details' post.id %}">Comment</a>
                                {% if user == post.author %}
                                    {% include 'actions.html' %}
                                {% endif %}
                            
                              
                            </div>
                        </div>
                    </div>
                    </div>
                    <hr>
                </div>
              {% empty %}
              <p>{{profile.user}} has no posts</p>
              {% endfor %}
          </div>
        </div>
    </div>
{% endblock %}