{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}
    <div class="container">
        <div class="row">
           
            <div class="col-md-8">
              {% if profile %}
                <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        {% if profile.photo %}
                             {% cloudinary profile.photo id="avi" %}
                        {% else %}
                        {% endif %}
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title"> {{profile|title}}</h5>
                          <p class="card-text">{{ profile.bio }}</p>
                          <p class="card-text"><small>Joined: {{profile.created|date:"M Y"}}</small></p>
                        
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Field: {{profile.market}}</li>
                            <li class="list-group-item">Experience: {{profile.experience}} years</li>
                            <li class="list-group-item">Email: {{profile.user.email}}</li>
                           {% if user == profile.user %}
                           <li class="list-group-item">DMs: <a style="color: blueviolet;" href="{% url 'dms' profile.slug %}">Messages</a></li>
                           {% endif %}
                            {% if user != profile.user %}
                             
                            <li style="display: flex; justify-content: space-between;" class="list-group-item">
                              {% with total_followers=profile.followers.count %}
                              <a href="{% url 'show_followers' profile.slug%}">
                                <span class="count">
                                  <span class="total">{{ total_followers }}</span>following{{ total_followers|pluralize }}
                               </span>
                              </a>
                              <a href="#" data-id="{{ profile.id }}" data-action="{% if user in profile.followers.all %}un{% endif %}follow" class="followbutton">
                              {% if user not in profile.followers.all %}
                                Follow
                              {% else %}
                                Unfollow
                              {% endif %}
                              </a>
                              {% endwith %}
                            </li>
                            {% endif %}
                           {% if user == profile.user %}
                            <li class="list-group-item">
                              <button class="btn btn-outline-secondary"><a style="text-decoration: none;" href="{% url 'profile_update' profile.user %}">Edit Profile</a></button>
                            </li>
                            {% endif %}
                            </li>

                           
                             {% if user != profile.user %}
                             <li class="text-center list-group-item"></li>
                             <a class="msg-btn text-center" href="{% url 'ask' profile.user.username %}">Talk to me</a>
                            </li>
                             {% endif %}
                        
                          </ul>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <h3>Reviews</h3>
                          
 
                             
                  {% if user.username in profile.get_clients %}
                    <a href="{% url 'review_expert' profile.slug %}">Leave a review</a>          
                  {% endif %}               
     
                <hr>

                {% for review in profile.reviews.all %}
                   <div>
                     <div class="ml-2 row">
                       <small class="text-muted">{{review.user}} &middot; {{review.created|date:"M Y"}} wrote:</small>
                     </div>
                     <div class="ml-2 row">
                       {{review.body}}
                     </div>
                   </div>
                   <hr>
                {% endfor %}
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h3 class="text-center mb-3">Posts({{profile.get_posts.count}})</h3>
            <hr>
              {% for post in profile.get_posts %}
                <div>
                  <div class="post-item">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="">
                            <a href="{% url 'profile' post.author.id %}"><strong>{{post.author|title}} </strong></a>&middot;
                              <small>{{ post.created|timesince}} ago</small>
                              
                            </div>
                            <div class="post-body">
                                {{ post.body }}
                                <br>
                                <a href="{% url 'post_details' post.id %}">Comment</a>
                                {% if user == post.author %}
                                    {% include 'actions.html' %}
                                {% endif %}
                            
                              
                            </div>
                        </div>
                    </div>
                    </div>
                    <hr>
                </div>
              {% empty %}
              <p>{{profile.user}} has no posts</p>
              {% endfor %}
          </div>
        </div>
        {% else %}
        <h2>Seems Like You do not have a profile yet!</h2>
        {% endif %}
    </div>
{% endblock %}