{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
          
            <div class="col-md-8">
                <h3 class="text-center">You have sent {{messages.count }} queries</h3>
                    {% for message in messages %}
                        <div>
                            <div class="row">
                                <div class="col-md-2">
                                    {{message.sent|date:"M Y"}}
                                </div>
                                <div class="col-md-2">
                                    To: <a href="{% url 'profile' message.to.slug %}">{{message.to}}</a>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <a href="{% url 'message' message.id %}">{{message.subject}}</a>
                                    </p>
                                </div>
                                <div class="col-md-2">
                                   {{message.replies.all.count}} replies
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% empty %}
                    <p>You have no new messages</p>
                   
                    {% endfor %}
                   
                  
            </div>
        </div>
    </div>
{% endblock %}